<div class="page">
    <div class="container"> <br>
        <div class="Heder">
            Log in
        </div>
        <div class="heder-text">
            login to access your account
        </div><br>
        <div class="form-container">
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Login">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="text" placeholder="*Paassword">
            </div><br>

        </div>
        <div class=" slide-cont">
            <div class="slider">
                <mat-slide-toggle>Remember me</mat-slide-toggle>
            </div>
            <div class="button-div">
                <button class="button">
                    <img class="plus" src="assets/login.png" alt="">
                    Login

                </button>
            </div>


        </div>

        <div class="signin">
            <div class="span-signin" routerLink="">
                Forget paassword?
            </div>

            <p>Don't have an account?<span class="span-signin" routerLink="/signup">sign up! </span></p>
        </div>

    </div>

</div>