<div class="co">
    <div class="header">
        <div>DOCTORS</div>
    </div>
    </div>
<div class="main-co">
   
    <div class="main" >

        <div class="doctor" *ngFor="let doctor of doctorsDeatils ">
            <img class="images" src="{{doctor.image}}" alt=""><br>
            <div>
                <label class="drname" for="">{{doctor.drName}}</label>
            </div>
            <div>
                <p class="text">{{doctor.profession}}</p>
            </div>
            <div class="social">
                <img class="img-social" src="assets/instagram.png" alt="">
                <img class="img-social" src="assets/facebook.png" alt="">
                <img class="img-social" src="assets/twitter.png" alt="">
            </div>
            <div class="text">
               759 Falcon Ave, Suite 600 San Fransisco, CADGE 94107
            </div>
            <div class="button-div">
                <button class="button" (click)="openDialog(doctor)" >
                    Add Appointment
                </button><br>
            </div><br>


        </div>
      



    </div>
</div>