.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;


}
// .image{
//     width: 40px;
//     height: 40px;
//     border-radius: 50px;
// }
.Heder{
    font-size: x-large;
    font-weight: bolder;
    font-family: sans-serif;
    padding-left: 34px;
    padding-bottom: 10px;
  

}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    
}
.input-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-dive{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.input-text{
    width: 85%;
    height: 42px;
    padding: 0px;
    outline: none;
    border: none;
    background-color: rgb(203, 197, 197);
    border-radius: 20px;
    padding-left: 20px;
}
.button-div{
    // padding: 44px;
    display: flex;
    justify-content: space-between;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 5PX;

}

.button{
    
    width: 33%;
    height:40px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: rgb(26,115,232);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;

}
.Cancle{
    width: 20%;
    height:40px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: rgb(225, 39, 42);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;

}
.img{
    width: 40px;
    height: 40px;
}
.img-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
    padding-left: -61px;
    padding-right: 189px;
    padding-bottom: 15px;
}
.size{
    width: 170px;
    height: 40px;
    background: rgb(26,115,232);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
}
::ng-deep.mat-mdc-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}