<div class="page">
    <div class="container"> <br>
        <div class="Heder">
            Add appointment
        </div>
        <div class="form-container">
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Name">

            </div><br>
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Doctor">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="email" placeholder="Email">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="date" placeholder="Date">
            </div><br>
            <div class="input-dive">
                <input class="input-text" type="time" placeholder="From">
                <input class="input-text" type="time" placeholder="To">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="tel" placeholder="Number">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Injury">
            </div><br>


        </div>

        <div class="button-div">
            <button class="Cancle">
                Cancle

            </button>
            <button class="button">
               Add appointment

            </button>
        </div>

    </div>


</div>

