<div class="page">
    <div class="container"> <br>
        <div class="Heder">
            Sign up
        </div>
        <div class="heder-text">
            Create your account
        </div><br>
        <div class="form-container">
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Name">

            </div><br>
            <div class="input-div">
                <input class="input-text" type="text" placeholder="Email address">
            </div><br>
            <div class="input-div">
                <input class="input-text" type="text" placeholder="*Paassword">
            </div><br>

        </div>
        <div class=" slide-cont">
            <div class="slider">
                <mat-slide-toggle >I agree to the terms and privacy.</mat-slide-toggle>
            </div>
            <div class="button-div">
                <button class="button">
                    <img class="plus" src="assets/add.svg" alt=""> 
                    Register
                    
                </button>
            </div>

        </div>
        <div class="signin">
            <p>Have an account?<span class="span-signin" routerLink="/signin">sign in! </span></p>
        </div>

    </div>

</div>
