<div class="page">
    <div class="container"> <br>
        <div class="Heder">
            Sign up
        </div>
        <div class="heder-text">
            Create your account
        </div><br>
        <form [formGroup]="registerForm">
            <div class="form-container">
                <div class="input-div">
                    <input class="input-text" type="text" placeholder="Name" formControlName="fullName">
                    <!-- <mat-error *ngIf="f['firstName'].getError('required')" >required</mat-error> -->


                </div><br>
                <div class="input-div">
                    <input class="input-text" type="text" placeholder="Email address" formControlName="email">
                    <!-- <mat-error *ngIf="f['email'].getError('required')!=null"> required</mat-error> -->
                </div><br>
                <div class="input-div">
                    <input class="input-text" autocomplete="false" type="password" placeholder="*Password" formControlName="password">
                    <!-- <mat-error *ngIf="f['paassword'].getError('required')" >required</mat-error> -->
                </div><br>

            </div>
            <div class=" slide-cont">
                <div class="slider">
                    <mat-slide-toggle>I agree to the terms and privacy.</mat-slide-toggle>
                </div>
                <div class="button-div">
                    <button class="button" (click)="onSubmit()">
                        <img class="plus" src="assets/add.svg" alt="">
                        Register

                    </button>
                </div>

            </div>
        </form>
        <div class="signin">
            <p>Have an account?<a class="span-signin" routerLink="/signin">sign in! </a></p>
        </div>

    </div>

</div>